<div class="scroll-mt-64 rounded-xl border border-blue-gray-50 bg-[#f8fafc]">
  <div
    class="flex items-center justify-between border-b border-blue-gray-50 p-1"
  >
    <nav>
      <ul
        role="tablist"
        class="flex relative bg-opacity-60 rounded-lg p-1 flex-row bg-transparent"
      >
        <li
          role="tab"
          class="flex items-center justify-center text-center w-full h-full relative bg-transparent py-1 px-2 text-blue-gray-900 antialiased font-sans text-base font-normal leading-relaxed select-none cursor-pointer pt-[6px] pb-[5px]"
          data-value="preview"
        >
          <div class="z-20 text-inherit">
            <p
              class="antialiased font-sans text-sm leading-normal flex w-[86px] items-center justify-center gap-2 text-center font-medium transition-colors text-blue-gray-900"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                aria-hidden="true"
                class="-mt-px h-4 w-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                ></path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                ></path>
              </svg>
              Preview
            </p>
          </div>
          <div
            class="absolute inset-0 z-10 h-full shadow-none rounded-lg bg-blue-gray-500/10"
            data-projection-id="14"
            style="transform: none; transform-origin: 50% 50% 0px"
          ></div>
        </li>
      </ul>
    </nav>
  </div>

  <div
    class="grid grid-rows-1 grid-flow-col auto-cols-auto min-h-[140px] w-full  overflow-x-scroll rounded-lg p-6 lg:overflow-visible"
    [ngClass]="{ '!place-items-center':centered}"
  >
    <ng-content></ng-content>
  </div>
</div>
